<h1>admin panel</h1>
<a href="/admin/administratorpanel/logout">logout</a>
<h2>customers</h2>
<div id="registerStatusCustomer"></div>
<form name="addUser" action="/admin/administratorpanel/user" method="post">
  <input type="text" name="emailCustomer" id="emailCustomer" placeholder="email">
  <input type="text" name="phone" id="phoneCustomer" placeholder="phone">
  <input type="text" name="nameCustomer" id="nameCustomer" placeholder="nameCustomer">
  <input type="text" name="aboutCustomer" id="aboutCustomer" placeholder="about">
  <button type="submit">add</button>
</form>
<h2>product</h2>
<div id="registerStatusProduct"></div>
<form name="addProduct" action="/admin/administratorpanel/product" method="post">
  <input type="text" name="title" id="title" placeholder="title">
  <input type="text" name="diameter" id="diameter" placeholder="diameter">
  <input type="text" name="quality" id="quality" placeholder="quality">
  <input type="text" name="price" id="price" placeholder="price">
  <button type="submit">add</button>
</form>

<h2>Customers</h2>
<table border="1" id="result">
  <tr>
    <th>
      email
    </th>
    <th></th>
    <th>
      phone number
    </th>
    <th>
      Name
    </th>
    <th>
      Comments
    </th>
  </tr>

  {{#each users}}
  <tr>
    <th>
      {{this.email}}
    </th>
    <th><button id='{{this._id}}' type="submit" value={{this.email}}>send price</button></th>
    <th>
      {{this.phone}}
    </th>
    <th>
      {{this.name}}
    </th>
    <th>
      {{this.about}}

    </th>
  </tr>
  <tr>
  </tr>
  {{/each}}
</table>

<h2>Products</h2>
<table border="1" id="result">
  <tr>
    <th>
      №
    </th>
    <th>
      Товар
    </th>
    <th>
      Диаметр
    </th>
    <th>
      Качество
    </th>
    <th>
      Цена
    </th>
  </tr>

  {{#each products}}
  <tr>
    <th>
      {{inc @index}}
    </th>
    <th>
      {{this.title}}
    </th>
    <th>
      {{this.diameter}}
    </th>
    <th>
      {{this.quality}}
    </th>
    <th>
      {{this.price}}
    </th>
  </tr>
  {{/each}}
</table>

<script defer src="/js/adminPanel.js"></script>
