<h1>Личный кабинет администратора</h1>
<a href="/admin/administratorpanel/logout">Выйти</a>
<h2>Добавить клиента</h2>
<div id="registerStatusCustomer"></div>
<form name="addUser" action="/admin/administratorpanel/user" method="post">
  <input type="text" name="emailCustomer" id="emailCustomer" placeholder="email">
  <input type="text" name="phone" id="phoneCustomer" placeholder="phone">
  <input type="text" name="nameCustomer" id="nameCustomer" placeholder="nameCustomer">
  <input type="text" name="aboutCustomer" id="aboutCustomer" placeholder="about">
  <button type="submit">Добавить</button>
</form>

<h2>Клиенты</h2>
<table id="result" class="c1">
  <tr class="c2">
    <th onclick="sortTable(0, result)">
      №
    </th>
    <th onclick="sortTable(1, result)">
      Почта
    </th>
    <th onclick="sortTable(2, result)">
      Телефон
    </th>
    <th onclick="sortTable(3, result)">
      Имя
    </th>
    <th onclick="sortTable(4, result)">
      Примечания
    </th>
    <th>
      Редактировать
    </th>
  </tr>

  {{#each users}}
  <tr>
    <td>
      {{inc @index}}
    </td>
    <td>
      {{this.email}}
    </td>

    <td>
      {{this.phone}}
    </td>
    <td>
      {{this.name}}
    </td>
    <td>
      {{this.about}}

    </td>
    <td>
      <button data-id='{{this._id}}' type="submit" value={{this.email}}>send price</button>
      <button data-id="{{this._id}}" type="submit">edit</button>
      <button data-id="{{this._id}}" type="submit">delete</button>
    </td>
  </tr>
  {{/each}}
</table>

<div id="editUsersStatus"></div>
<div id="editDiv" class="hidden">
  <h2>Редактировать клиента</h2>
  <form name="editFormCustomer" action="/admin/administratorpanel/user/edit" method="post">
    <input type="text" name="editEmailCustomer" id="editEmailCustomer" placeholder="email">
    <input type="text" name="editPhoneCustomer" id="editPhoneCustomer" placeholder="phone">
    <input type="text" name="editNameCustomer" id="editNameCustomer" placeholder="nameCustomer">
    <input type="text" name="editAboutCustomer" id="editAboutCustomer" placeholder="about">
    <input type="hidden" name="id" id="hiddenInput">
    <button type="submit">Обновить</button>
  </form>
</div>

<h2>Добавить товар</h2>
<div id="registerStatusProduct"></div>
<form name="addProduct" action="/admin/administratorpanel/product" method="post">
  <input type="text" name="title" id="title" placeholder="title">
  <input type="text" name="diameter" id="diameter" placeholder="diameter">
  <input type="text" name="quality" id="quality" placeholder="quality">
  <input type="text" name="price" id="price" placeholder="price">
  <button type="submit">Добавить</button>
</form>

<h2>Товары</h2>
<table id="resultProducts" class="c1">
  <tr class="c2">
    <th onclick="sortTable(0, resultProducts)">
      №
    </th>
    <th onclick="sortTable(1, resultProducts)">
      Товар
    </th>
    <th onclick="sortTable(2, resultProducts)">
      Диаметр
    </th>
    <th onclick="sortTable(3, resultProducts)">
      Качество
    </th>
    <th onclick="sortTable(4, resultProducts)">
      Цена
    </th>
    <th>
      Редактировать
    </th>
  </tr>

  {{#each products}}
  <tr>
    <td>
      {{inc @index}}
    </td>
    <td>
      {{this.title}}
    </td>
    <td>
      {{this.diameter}}
    </td>
    <td>
      {{this.quality}}
    </td>
    <td>
      {{this.price}}
    </td>
    <td>
      <button type="submit" data-id="{{this._id}}">edit</button>
      <button type="submit" data-id="{{this._id}}">delete</button>
    </td>
  </tr>
  {{/each}}
</table>

<div id="editDivProduct" class="hidden">
  <h2>Редактировать товар</h2>
  <form name="editProductForm" action="/administratorpanel/product/delete" method="post">
    <input type="text" name="editTitleProduct" id="editTitleProduct" placeholder="title">
    <input type="text" name="editDiameterProduct" id="editDiameterProduct" placeholder="diameter">
    <input type="text" name="editQualityProduct" id="editQualityProduct" placeholder="quality">
    <input type="text" name="editPriceProduct" id="editPriceProduct" placeholder="price">
    <input type="hidden" name="id" id="hiddenInputProduct">
    <button type="submit">Обновить</button>
  </form>
</div>

<script defer src="/js/tableSort.js"></script>
<script defer src="/js/adminPanel.js"></script>
