<h1>admin panel</h1>
<a href="/admin/administratorpanel/logout">logout</a>
<h2>customers</h2>
<div id="registerStatusCustomer"></div>
<form name="addUser" action="/admin/administratorpanel/user" method="post">
  <input type="text" name="emailCustomer" id="emailCustomer" placeholder="email">
  <input type="text" name="phone" id="phoneCustomer" placeholder="phone">
  <input type="text" name="nameCustomer" id="nameCustomer" placeholder="nameCustomer">
  <input type="text" name="aboutCustomer" id="aboutCustomer" placeholder="about">
  <button type="submit">add</button>
</form>
<h2>product</h2>
<div id="registerStatusProduct"></div>
<form name="addProduct" action="/admin/administratorpanel/product" method="post">
  <input type="text" name="title" id="title" placeholder="title">
  <input type="text" name="diameter" id="diameter" placeholder="diameter">
  <input type="text" name="quality" id="quality" placeholder="quality">
  <input type="text" name="price" id="price" placeholder="price">
  <button type="submit">add</button>
</form>


<table border="1" id="result">
  <tr>
    <th>
      №
    </th>
    <th>
      email
    </th>
    <th>
      phone number
    </th>
    <th>
      Name
    </th>
    <th>
      Comments
    </th>
    <th>
      functions
    </th>
  </tr>

  {{#each users}}
  <tr>
    <th>
      {{inc @index}}
    </th>
    <th>
      {{this.email}}
    </th>

    <th>
      {{this.phone}}
    </th>
    <th>
      {{this.name}}
    </th>
    <th>
      {{this.about}}

    </th>
    <th>
      <button id='{{this._id}}' type="submit" value={{this.email}}>send price</button>
      <button id="{{this._id}}" type="submit">delete</button>
      <button id="{{this._id}}" type="submit">edit</button>
    </th>


  </tr>
  {{/each}}
</table>

<h2>Edit Customers</h2>
<div id="editDiv" class="hidden">
  <form name="editFormCustomer" action="/admin/administratorpanel/user/edit" method="post">
    <input type="text" name="editEmailCustomer" id="editEmailCustomer" placeholder="email">
    <input type="text" name="editPhoneCustomer" id="editPhoneCustomer" placeholder="phone">
    <input type="text" name="editNameCustomer" id="editNameCustomer" placeholder="nameCustomer">
    <input type="text" name="editAboutCustomer" id="editAboutCustomer" placeholder="about">
    <button id="{{this._id}}" type="submit">add</button>
  </form>
</div>

<h2>Products</h2>
<table border="1" id="result">
  <tr>
    <th>
      №
    </th>
    <th>
      Товар
    </th>
    <th>
      Диаметр
    </th>
    <th>
      Качество
    </th>
    <th>
      Цена
    </th>
    <th>
      functions
    </th>
  </tr>

  {{#each products}}
  <tr>
    <th>
      {{inc @index}}
    </th>
    <th>
      {{this.title}}
    </th>
    <th>
      {{this.diameter}}
    </th>
    <th>
      {{this.quality}}
    </th>
    <th>
      {{this.price}}
    </th>
    <th>
      <button>edit</button>
      <button>delete</button>
    </th>
  </tr>
  {{/each}}
</table>

<script defer src="/js/adminPanel.js"></script>
