<div>
  INDEX PAGE:
</div>

<p>ТОВАРЫ:</p>
<table border="1" id="resultProducts" class="c1">
  <tr class="c2">
    <th onclick="sortTable(0, resultProducts)">
      №
    </th>
    <th onclick="sortTable(1, resultProducts)">
      Товар
    </th>
    <th onclick="sortTable(2, resultProducts)">
      Диаметр
    </th>
    <th onclick="sortTable(3, resultProducts)">
      Качество
    </th>
    <th onclick="sortTable(4, resultProducts)">
      Цена
    </th>
  </tr>
  {{#each arrProduct}}
  <tr>
    <td>
      {{inc @index}}
    </td>
    <td>
      {{this.title}}
    </td>
    <td>
      {{this.diameter}}
    </td>
    <td>
      {{this.quality}}
    </td>
    <td>
      {{this.price}}
    </td>
  </tr>
  {{/each}}
</table>

<script defer src="/js/tableSort.js"></script>
