<script></script>
<div>
  INDEX PAGE:
</div>

<script defer src="/js/client.js"></script>

<form name="showProduct">
  <button type="click" id="show">Показать все</button>
</form>

<h3>СПЕЦИФИКАЦИЯ</h3>

<table border="1" id="result">
  <tr>
    <th>
      №
    </th>
    <th>
      Товар
    </th>
    <th>
      Диаметр
    </th>
    <th>
      Качество
    </th>
    <th>
      Цена
    </th>
  </tr>

  {{#each data}}
  <tr>
    <th>
      {{inc @index}}
    </th>
    <th>
      {{this.title}}
    </th>
    <th>
      {{this.diameter}}
    </th>
    <th>
      {{this.quality}}
    </th>
    <th>
      {{this.price}}
    </th>
  </tr>
  {{/each}}
</table>
