<script></script>
<div>
  INDEX PAGE:
</div>

<button type="click" id="showAll">Показать все!</button>

<p>ТОВАРЫ:</p>
<table border="1" id="productId" class="c1">
  <tr class="c2">
    <th onclick="sortTable(0, productId)">
      №
    </th>
    <th onclick="sortTable(1, productId)">
      Товар
    </th>
    <th onclick="sortTable(2, productId)">
      Диаметр
    </th>
    <th onclick="sortTable(3, productId)">
      Качество
    </th>
    <th onclick="sortTable(4, productId)">
      Цена
    </th>
  </tr>
  {{#each arrProduct}}
  <tr>
    <td>
      {{inc @index}}
    </td>
    <td>
      {{this.title}}
    </td>
    <td>
      {{this.diameter}}
    </td>
    <td>
      {{this.quality}}
    </td>
    <td>
      {{this.price}}
    </td>
  </tr>
  {{/each}}
</table>

<p>ЮЗЕРЫ:</p>
<table border="1" id="customerId" class="c1">
  <tr class="c2">
    <th onclick="sortTable(0, customerId)">
      №
    </th>
    <th onclick="sortTable(1, customerId)">
      Почта
    </th>
    <th onclick="sortTable(2, customerId)">
      Телефон
    </th>
    <th onclick="sortTable(3, customerId)">
      Имя
    </th>
    <th onclick="sortTable(4, customerId)">
      РЕДАКТИРОВАТЬ:
    </th>
  </tr>
  {{#each arrCustomer}}
  <tr>
    <td>
      {{inc @index}}
    </td>
    <td>
      {{this.email}}
    </td>
    <td>
      {{this.phone}}
    </td>
    <td>
      {{this.name}}
    </td>
    <td>
      <button type="click" class="btnCustomer"  value={{this.email}}>изменить</button>
    </td>
  </tr>
  {{/each}}
</table>

<br>
<p>ИЗМЕНИТЬ ДАННЫЕ ПОКУПАТЕЛЯ:</p>
<form id="changeUser">
  <input type="text" name="email">
  <input type="text" name="phone">
  <input type="text" name="name">
  <button type="submit" id="saveCustomer">Сохранить</button>
</form>

<div id="idDel1">here</div>

<div
style="position:relative;
overflow:hidden;
margin: 0 auto;
width: max-content;
border-radius: 10px;
filter: grayscale(100%);
box-shadow: 0 0 3px white, 0 0 6px white, 0 0 9px white, 0 0 15px white, 0 0 20px white;">

    <iframe
      src="https://yandex.ru/map-widget/v1/-/CCQ~nHTZgD"
      width="600"
      height="350"
      frameborder="1"
      allowfullscreen="true"
      style="position: relative; border-style: hidden; border-radius: 10px; shadow: ">
    </iframe>
</div>

<script>
  function sortTable(n, ind) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = ind;
    switching = true;
    dir = "asc";
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
