<script></script>
<div>
  INDEX PAGE:
</div>
{{!-- 
<script defer src="/js/client.js"></script>

<form name="showProduct">
  <button type="click" id="show">Показать все</button>
</form>

<h3>СПЕЦИФИКАЦИЯ</h3>

<table border="1" id="result">
        <tr>
          <th>
            №
          </th>
          <th>
            Товар
          </th>
          <th>
            Диаметр
          </th>
          <th>
            Качество
          </th>
          <th>
            Цена
          </th>
        </tr>

<<<<<<< HEAD
<div id='result'> --}}
{{!-- {{#each }}
  <div id='title'>{{this.title}}</div>
  <div id='diameter'>{{this.diameter}}</div>
  <div id='quality'>{{this.quality}}</div>
  <div id='price'>{{this.price}}</div>
  {{/each}} --}}
{{!-- </div> --}}
=======
        {{#each data}}
        <tr>
          <th>
            {{inc @index}}
          </th>
          <th>
            {{this.title}}
          </th>
          <th>
            {{this.diameter}}
          </th>
          <th>
            {{this.quality}}
          </th>
          <th>
            {{this.price}}
          </th>
        </tr>
        {{/each}}
</table>
>>>>>>> b876e05b9af051d9383774da8c47b6b23f14adfe
